@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes bgColorChange {
      0% {
        background-color: #1e3a8a; /* Blue */
      }
      25% {
        background-color: #10b981; /* Green */
      }
      50% {
        background-color: #f59e0b; /* Amber */
      }
      75% {
        background-color: #ef4444; /* Red */
      }
      100% {
        background-color: #1e3a8a; /* Blue again */
      }
    }

    .animate-bgColorChange {
      animation: bgColorChange 10s infinite ease-in-out;
    }
  }
